PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://usuario:password@localhost:5432/barberia
ADMIN_PASS=admin123
JWT_SECRET=cambia-esto-en-produccion
JWT_EXPIRES_IN=12h
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=200
